<div class="container">
  <h1>City Search</h1>
  <form [formGroup]="citySearchForm">
    <mat-form-field>
      <mat-label>City</mat-label>
      <input
        type="text"
        placeholder="Brisbane"
        aria-label="String"
        matInput
        formControlName="cityName"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete">
        @for (city of filteredCities | async; track city) {
        <mat-option [value]="city">{{ city }}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>

    <div>
      <button
        mat-raised-button
        (click)="findCoordinates(cityNameControl.value)"
      >
        Find Coordinates
      </button>
    </div>

    <div class="field">
      <label class="label">Latitude</label>
      <input type="text" formControlName="latitude" />
    </div>
    <div class="field">
      <label class="label">Longitude</label>
      <input type="text" formControlName="longitude" />
    </div>
  </form>
</div>
