<div class="search-container">
  <h1 class="search-title">Weather Search</h1>
  <form class="search-form" [formGroup]="citySearchForm">
    <mat-form-field>
      <mat-label>Search for a city</mat-label>
      <input
        type="text"
        placeholder="Brisbane"
        aria-label="String"
        matInput
        formControlName="cityName"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete">
        @for (city of filteredCities | async; track city) {
        <mat-option [value]="city">{{ city }}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>

    <div>
      <button
        mat-raised-button
        (click)="findCoordinates(cityNameControl.value)"
      >
        Show Weather
      </button>
    </div>
  </form>
</div>
