.search-container {
  margin: auto;
  padding: 50px;
  border-radius: 25px;
  background-color: whitesmoke;
  box-shadow: 0 0 50px black;
}

.search-title {
  margin-top: 0;
  text-align: center;
}

.search-form {
  text-align: center;
}
